<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
<div class="bg">
    <div class="container">
<div th:insert="base::navbar"></div>
        <br/><br/>
        <div class="container">

            <div id="jumbo" class="jumbotron text-center" >
                <strong><h1>Cars R Us!</h1>
                <h1>Priced to go!</h1></strong>
            </div>


        <br/><br/>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/dhmt9zect/image/upload/v1571324565/bluecar_nbxcqx.jpg" alt="Car photo">
                    <div class="card-body">
                        <h5 class="card-title" style="color:gray;">2019 Audi Sport $52,999! </h5>
                        <p class="card-text" style="color:gray;">Limited time!</p>
                        <a href="/carlist" class="btn btn-primary">See Our Inventory</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/dhmt9zect/image/upload/v1571324555/redcar_exsmme.jpg" alt="Car photo">
                    <div class="card-body">
                        <h5 class="card-title" style="color:gray;">2018 Mustang Coupe $40,999!</h5>
                        <p class="card-text" style="color:gray;">Special price!</p>
                        <a href="/carlist" class="btn btn-primary">See our Inventory</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>