<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <title>User Roles</title>
</head>
<body>
<div class="bg">
    <div class="container">
        <div th:insert="base::navbar"></div>
        <br/><br/><br/>
        <div class="container" id="box">
            <br/>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>

                <tr th:each="user : ${users}">
                    <td th:text="${user.first_name}"></td>
                    <td th:text="${user.last_name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:each="role : ${user.roles}">
                        <span th:text="${role.role}"></span>
                    </td>
                    <td>
                        <a th:href="@{updateUser/{id}(id=${user.id})}">Update User </a>
                        <a th:href="@{deleteUser/{id}(id=${user.id})}"> Delete User</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>